.button {
  font-family: $font;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 16px;
  border: none;
  outline: none;
  cursor: pointer;

  &--download {
    border: 3px solid $white;
    border-radius: 29px;
    color: $white;
    background-color: transparent;
    margin-top: 23px;
    margin-bottom: 31px;
    width: 280px;

    @media (min-width: $medium-width) {
      width: 300px;
      margin-top: 20px;
      margin-bottom: 43px;
    }

    @media (min-width: $large-width) {
      font-size: 21px;
      margin-top: 23px;
      margin-bottom: 68px;
    }

    &:hover {
      color: $pink;
      background-color: $white;
    }

    &:active {
      color: rgba($pink, 0.3);
      background-color: $white;
    }
  }

  &--modal {
    color: $white;
    text-transform: uppercase;
    background-color: $green;
    border: 2px solid $green;
    border-radius: 1px;
    width: 280px;
    padding-top: 20px;
    padding-bottom: 21px;

    &:hover {
      background-color: $greendark;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $greendark;
    }

    @media (min-width: $medium-width) {
      width: 296px;
    }

    @media (min-width: $large-width) {
      width: 299px;
    }
  }

  &--success {
    @media (min-width: $large-width) {
      width: 456px;
    }
  }

  &--disabled {
    background-color: $graylight;
  }
}

.button__upload {
  border: 3px solid $pink;
  border-radius: 29px;
  color: $pink;
  background-color: transparent;
  margin-top: 24px;
  width: 280px;

  @media (min-width: $medium-width) {
    width: 260px;
  }

  @media (min-width: $large-width) {
    width: 183px;
  }

  &--reset {
    border: 3px solid $bluedark;
    color: $bluedark;
    opacity: 0.1;
  }
}
