.button {
  font-family: $font;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 16px;
  border: none;
  outline: none;
  cursor: pointer;

  &--download {
    border: 3px solid $white;
    border-radius: 29px;
    color: $white;
    background-color: transparent;
    width: 280px;
    margin-top: 28px;
    margin-bottom: 38px;

    @media (min-width: $medium-width) {
      width: 300px;
    }

    @media (min-width: $large-width) {
      font-size: 21px;
    }
  }

  &--modal {
    color: $white;
    text-transform: uppercase;
    background-color: $green;
    border: 2px solid $green;
    border-radius: 1px;
    width: 276px;

    @media (min-width: $medium-width) {
      width: 296px;
    }
  }
}

.button__upload {
  border: 3px solid $pink;
  border-radius: 29px;
  color: $pink;
  background-color: transparent;
}

.button__upload-reset {
  border: 3px solid $bluedark;
  border-radius: 29px;
  color: $bluedark;
  opacity: 0.1;
  background-color: transparent;
}
