.contacts__wrapper {
  margin-top: 47px;
  text-align: center;
  background-image: url("../img/trianglewhitefooter.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.contacts__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-bottom: 45px;
}


.contacts__item {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 0;
}


.contacts__info {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $pink;
  margin: 0;
}
