.download__wrapper {
  @include container;
  color: $white;
  text-align: center;
  background-color: $bluedarken;
  background-image: url("../img/back-mobile.jpg");
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.download__slogan {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 320px;
}


.download__text {
  font-weight: 300;
}


.download__market {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
