.download {
  position: relative;
  background-color: $bluedarken;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  margin-top: -66px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $medium-width) {
    background-image: url("../img/back-tablet.jpg");
    background-size: cover;
    margin-top: -110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $large-width) {
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  text-align: center;
  background-image: url("../img/hand-mobile.png");
  background-position: center 177px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hand-mobile@2x.png");
    background-size: 320px;
  }

  @media (min-width: $medium-width) {
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/hand-tablet.png");
    background-position: 0 bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-tablet@2x.png");
      background-size: 660px;
    }
  }

  @media (min-width: $large-width) {
    background-image: url("../img/hand-desktop.png");
    background-position: bottom left 30px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-desktop@2x.png");
      background-size: 1050px;
    }
  }
}

.download__block {
  position: relative;
  background-color: $bluedarken;
  width: 100%;
  z-index: 2;

  @media (min-width: $medium-width) {
    position: static;
    background-color: transparent;
    width: auto;
  }
}

.download__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  width: 300px;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 320px;

  @media (min-width: $medium-width) {
    font-size: 40px;
    line-height: 48px;
    padding-top: 205px;
    padding-bottom: 12px;
  }

  @media (min-width: $large-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 210px;
  }
}

.download__text {
  font-weight: 300;
  margin: 0;
  padding-bottom: 30px;

  @media (min-width: $medium-width) {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 119px;
  }

  @media (min-width: $large-width) {
    padding-bottom: 125px;
  }
}


.download__market {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $medium-width) {
    justify-content: flex-start;
  }
}
