.features {
  padding-top: 38px;
  background-image: url("../img/greybackground1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100px;

  @media (min-width: $medium-width) {
    padding-top: 43px;
    background-position: 0 190px;
  }

  @media (min-width: $large-width) {
    padding-top: 60px;
    background-position: 0 280px;
  }
}

.features__wrapper {
  @include container;
}

.features__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  text-align: center;

  @media (min-width: $medium-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $large-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.features__title--subtitle {
  padding-top: 27px;

  @media (min-width: $medium-width) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  background-image: url("../img/phone-mobile.png");
  background-position: top 107% left 50%;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 306px;

  @media (min-width: $medium-width) {
    text-align: left;
    background-image: url("../img/phone-table.png");
    background-position: bottom 121% left;
    padding-top: 68px;
    padding-bottom: 30px;
    padding-left: 310px;
  }

  @media (min-width: $large-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    text-align: center;
    background-image: none;
    padding-top: 40px;
    padding-bottom: 76px;
    padding-left: 0;
  }
}

.features__caption {
  color: $black;
  font-size: 18px;
  margin: 0;
  padding-bottom: 12px;

  @media (min-width: $large-width) {
    font-size: 30px;
    line-height: 30px;
    padding-top: 335px;
    padding-bottom: 20px;
  }
}

.features__description {
  margin: 0;

  @media (min-width: $large-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.features__item {
  padding-top: 20px;
  padding-bottom: 12px;

  br {
    display: none;

    @media (min-width: $large-width) {
      display: block;
    }
  }

  @media (min-width: $large-width) {
    background-repeat: no-repeat;

    &--mood {
      background-image: url("../img/phone-mood.png");
    }

    &--change-world {
      background-image: url("../img/phone-world.png");
    }

    &--new-friends {
      background-image: url("../img/phone-friends.png");
    }
  }
}
