.main-header {
  position: relative;
  z-index: -1;
  margin-top: -66px;
  height: 237px;
  background-color: $bluedarken;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $medium-width) {
    margin-top: -110px;
    background-image: url("../img/back-tablet.jpg");
    height: 440px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $large-width) {
    background-image: url("../img/back-desktop.jpg");
    height: 394px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.main-header__wrapper {
  @include container;
  color: $white;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 51px;

  @media (min-width: $medium-width) {
    padding-top: 138px;
    padding-bottom: 0;
  }

  @media (min-width: $large-width) {
    padding-top: 130px;
  }
}

.main-header__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;

  br {
    display: none;
  }

  @media (min-width: $medium-width) {
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $large-width) {
    br {
      display: block;
    }
  }
}
