.map {
  position: relative;
  width: 100%;
  height: 200px;
  z-index: 1;

  @media (min-width: $medium-width) {
    height: 374px;
  }

  @media (min-width: $large-width) {
    height: 502px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 123px;
    z-index: 4;
    left: 0;
    top: -90px;

    @media (min-width: $medium-width) {
      top: -60px;
    }

    @media (min-width: $large-width) {
      top: -20px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $pink;
    border: 10px solid $white;
    border-radius: 50%;
  }
}

.map__block {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 3;
  background-image: url("../img/map-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 100%;
  }

  @media (min-width: $medium-width) {
    height: 374px;
    background-image: url("../img/map-table.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-table@2x.jpg");
    }
  }

  @media (min-width: $large-width) {
    height: 502px;
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
