.map {
  position: relative;
  width: 100%;
  height: 280px;
  background-image: url("../img/map-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: $medium-width) {
    height: 374px;
    background-image: url("../img/map-table.jpg");
  }

  @media (min-width: $large-width) {
    height: 502px;
    background-image: url("../img/map-desktop.jpg");
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 123px;
    z-index: 2;
    left: 0;
    top: -50px;

    @media (min-width: $large-width) {
      top: 0;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $pink;
    border: 10px solid $white;
    border-radius: 50%;
  }
}
