.news {
  display: none;

  @media (min-width: $medium-width) {
    display: block;
  }

  @media (min-width: $large-width) {
    background-color: $gray;
  }
}

.news__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  padding-left: 330px;
  padding-bottom: 120px;

  @media (min-width: $large-width) {
    padding-left: 500px;
  }
}

.news__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-top: 102px;
}

.news__text {
  margin-top: 24px;
  margin-bottom: 24px;
}

.news__link {
  color: $pink;
}
