.news {
  display: none;

  @media (min-width: $medium-width) {
    display: block;
    background-color: $white;
  }

  @media (min-width: $large-width) {
    background-color: $gray;
  }
}

.news__center {
  @include container;
}

.news__wrapper {
  position: relative;
  display: block;
  padding-top: 60px;
  padding-left: 310px;
  padding-bottom: 120px;

  @media (min-width: $large-width) {
    padding-top: 33px;
    padding-left: 370px;
    padding-bottom: 111px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/time-table.png");
    background-repeat: no-repeat;
    width: 238px;
    height: 276px;
    top: 55px;
    left: 5px;

    @media (min-width: $large-width) {
      padding-left: 500px;
      background-image: url("../img/time-desktop.png");
      width: 298px;
      height: 345px;
      top: -20px;
      left: 0;
    }
  }
}

.news__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-top: 40px;

  @media (min-width: $large-width) {
    br {
      display: none;
    }
  }
}

.news__text {
  margin-top: 10px;
  margin-bottom: 10px;

  br {
    display: none;

    @media (min-width: $large-width) {
      display: block;
    }
  }

  @media (min-width: $large-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 23px;
    margin-bottom: 30px;
  }
}

.news__link {
  color: $pink;

  @media (min-width: $large-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
