.page-footer__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 284px;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: auto;
    align-items: center;
    min-height: 127px;
  }

  @media (min-width: $large-width) {
    min-height: 197px;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  @media (min-width: $medium-width) {
    margin-top: 12px;
    justify-content: flex-end;
  }
}

.page-footer__logo {
  margin-top: 11px;
  margin-bottom: 35px;

  @media (min-width: $medium-width) {
    margin: 0;
    margin-right: auto;
  }

  @media (min-width: $large-width) {
    margin-top: -15px;
  }
}

.page-footer__logo-img {
  &--tablet {
    @media (min-width: $large-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $large-width) {
      display: block;
    }
  }

  &:hover {
    path {
      fill: $pink;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  margin-left: 15px;
  margin-top: -6px;

  &:hover {
    path {
      fill: $bluedark;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-top: 7px;

  @media (min-width: $medium-width) {
    margin-top: 2px;
  }

  @media (min-width: $large-width) {
    font-size: 18px;
    margin-top: -3px;
  }
}
