.page-header {
  color: $white;
  margin: auto;
  min-height: 66px;

  @media (min-width: $medium-width) {
    min-height: 110px;
  }

  @media (min-width: $large-width) {
    background-color: rgba($black, 0.3);
    position: relative;
    z-index: 3;
  }
}
