.photo-load__wrapper {
  line-height: 30px;

  @media (min-width: $large-width) {
    margin-bottom: 28px;
  }
}

.photo-load__form {
  @include container;
  display: grid;
  justify-content: center;
  background-color: $gray;
  max-width: 940px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $medium-width) {
    grid-template-columns: 1fr 1fr;
    padding-top: 57px;
    padding-bottom: 50px;
  }

  @media (min-width: $large-width) {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    padding-top: 56px;
    padding-bottom: 57px;
  }
}

.photo-load__title {
  @include container;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 42px;

  @media (min-width: $medium-width) {
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 70px;
  }

  @media (min-width: $large-width) {
    margin-top: 38px;
    margin-bottom: 67px;
  }
}
