.photo__caption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 17px;

  @media (min-width: $medium-width) {
    margin-left: 30px;
    margin-right: 30px;
    height: 155px;
  }

  @media (min-width: $large-width) {
    margin-left: 27px;
  }

  &--panorama {
    background-color: $gray;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 16px;
    padding-left: 17px;

    @media (min-width: $medium-width) {
      flex-direction: row;
      height: auto;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $large-width) {
      max-width: 882px;
      margin: auto;
      padding-left: 27px;
      padding-right: 31px;
    }
  }
}

.photo__autor {
  font-weight: 700;
  margin: 0;
  margin-top: 16px;

  @media (min-width: $medium-width) {
    margin-top: 22px;
  }

  &--panorama {
    margin-top: 18px;

    @media (min-width: $medium-width) {
      margin-top: 23px;
    }

    @media (min-width: $large-width) {
      margin-top: 25px;
    }
  }
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 3px;
}

.photo__comment {
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: $medium-width) {
    margin-bottom: 0;
  }

  &--panorama {
    margin-bottom: 12px;

    @media (min-width: $medium-width) {
      order: 2;
      margin-bottom: 10px;

      br {
        display: none;
      }
    }
  }
}

.photo__like-block {
  @media (min-width: $medium-width) {
    display: flex;
    margin-top: auto;
    padding-bottom: 22px;
  }

  &--panorama {
    @media (min-width: $medium-width) {
      order: 1;
      margin-left: auto;
      margin-top: 25px;
      padding-bottom: 0;
    }
  }
}

.photo__like-text {
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
  margin-left: 31px;

  @media (min-width: $medium-width) {
    margin-left: 0;
    margin-right: 16px;
  }
}

.photo__like {
  text-decoration: none;
  position: relative;

  @media (min-width: $medium-width) {
    order: 2;
    margin-left: auto;
    margin-right: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    width: 13px;
    height: 12px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.photo__img {
  display: block;

  @media (min-width: $medium-width) {
    height: 300px;
  }

  @media (min-width: $large-width) {
    height: 400px;
  }

  &--panorama {
    @media (min-width: $medium-width) {
      height: 509px;
    }

    @media (min-width: $large-width) {
      height: 506px;
    }
  }
}
