.popup__wrapper {
  text-align: center;
  padding-top: 40px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;

  &--error {
    padding-bottom: 50px;
  }
}

.popup__title {
  font-size: 18px;
  line-height: 24px;
  color: $black;
  margin: 0;
  margin-bottom: 31px;
}

.popup__text {
  &--error {
    margin-bottom: 43px;
  }

  &--success {
    margin-bottom: 38px;
  }
}

.popup__button-area--success {
  background-color: $gray;
  padding-top: 50px;
  padding-bottom: 50px;
}
