
.reviews__wrapper {
  color: $bluedark;
}


.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  margin-top: 50px;
}


.reviews__text {
  line-height: 30px;
}
