
.reviews__wrapper {
  @include container;
  color: $bluedark;
  text-align: center;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  color: $black;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  margin-top: 50px;

  @media (min-width: $medium-width) {
    font-size: 20px;
    order: 2;
    margin-top: 30px;
  }

  @media (min-width: $large-width) {
    font-size: 24px;
  }
}

.reviews__about-author {
  display: none;

  @media (min-width: $medium-width) {
    display: block;
    order: 2;
    margin-top: 5px;
  }

  @media (min-width: $large-width) {
    font-size: 18px;
  }
}

.reviews__text {
  line-height: 30px;
  order: 2;

  @media (min-width: $medium-width) {
    font-size: 18px;
    order: 1;
  }
}
