.reviews__wrapper {
  @include container;
  position: relative;
  color: $bluedark;
  text-align: center;

  @media (min-width: $medium-width) {
    margin-bottom: -40px;
  }

  @media (min-width: $large-width) {
    margin-bottom: -40px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    margin-bottom: 25px;
  }
}

.reviews__author-name {
  color: $black;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  margin-top: 40px;

  @media (min-width: $medium-width) {
    font-size: 20px;
    order: 2;
    margin-top: 35px;
  }

  @media (min-width: $large-width) {
    font-size: 24px;
  }
}

.reviews__about-author {
  display: none;

  @media (min-width: $medium-width) {
    display: block;
    order: 2;
    margin-top: 5px;
  }

  @media (min-width: $large-width) {
    font-size: 18px;
  }
}

.reviews__text {
  line-height: 30px;
  order: 2;

  br {
    display: none;
  }

  @media (min-width: $medium-width) {
    font-size: 18px;
    order: 1;
    margin: 0;
  }

  @media (min-width: $large-width) {
    position: relative;
    padding-top: 180px;

    br {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
      width: 79px;
      height: 63px;
      top: 62px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.reviews__arrow {
  display: none;

  @media (min-width: $large-width) {
    display: block;
    position: absolute;
    width: 24px;
    height: 45px;
    top: 208px;
    background-color: transparent;
    border: none;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 29px;
      height: 2px;
      background-color: rgba($bluedark, 0.3);
    }

    &--left {
      left: 10px;

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }

    &--right {
      right: 10px;

      &::after {
        transform: rotate(-45deg);
      }

      &::before {
        transform: rotate(45deg);
      }
    }

    &::after {
      top: 31px;
      left: -3px;
    }

    &::before {
      top: 11px;
      left: -3px;
    }

    &:hover::after,
    &:hover::before {
      background-color: rgba($bluedark, 0.6);
    }

    &:active::after,
    &:active::before {
      background-color: rgba($bluedark, 0.1);
    }
  }
}
