.site-list__item {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 18px;
  padding-bottom: 14px;
  border-bottom: 1px solid $black;
  box-shadow: 0 -1px 0 $black,
    inset 0 1px 0 rgba($white, 0.15);

  @media (min-width: $medium-width) {
    padding-top: 18px;
    padding-bottom: 13px;
  }

  @media (min-width: $large-width) {
    position: relative;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-transform: none;
    font-weight: 400;
    margin-left: 80px;

    &--active {
      border-bottom: 2px solid $white;
    }
  }
}

.site-list__link {
  text-decoration: none;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: $pink;
    opacity: 0.3;
  }
}
