.tariff__head {
  color: $white;
  text-transform: uppercase;
  background-color: $bluedark;
  padding: 0 95px 10px 95px;

  @media (min-width: $medium-width) {
    padding: 13px 32px 10px 30px;
  }

  @media (min-width: $large-width) {
    padding: 20px 58px 20px 60px;
  }

  &--one {
    background-color: transparent;
  }

  &--active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 74px;
      height: 74px;
      top: 0;
      left: -3px;
      background-image: url("../img/hit-mobile.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $medium-width) {
        background-image: url("../img/hit-table.svg");
        width: 61px;
        height: 61px;
        left: 0;
      }

      @media (min-width: $large-width) {
        background-image: url("../img/hit-mobile.svg");
        width: 74px;
        height: 74px;
        top: 2px;
      }
    }
  }
}

.tariff__type {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;

  @media (min-width: $large-width) {
    font-size: 18px;
  }
}


.tariff__price {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;

  @media (min-width: $large-width) {
    font-size: 24px;
  }
}

.tariff__list {
  position: relative;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $white;
  padding: 14px 20px 14px 20px;

  @media (min-width: $medium-width) {
    text-transform: none;
    padding: 6px 20px 6px 12px;
  }

  @media (min-width: $large-width) {
    font-size: 18px;
    padding: 12px 50px 17px 20px;
  }
}


.tariff__option--hidden {
  @media (min-width: $medium-width) {
    display: none;
  }
}


.tariff__value {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 31px;
  height: 27px;
  top: 17px;
  right: 19px;

  &--true {
    background-image: url("../img/yes.svg");
  }

  &--false {
    background-image: url("../img/no.svg");
  }

  @media (min-width: $medium-width) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.tariff__list--hidden {
  display: none;

  @media (min-width: $medium-width) {
    display: block;
  }
}
