.tariff__head {
  color: $white;
  text-transform: uppercase;
  background-color: $bluedark;
  width: 276px;
}

.tariff__type {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-top: 19px;
}


.tariff__price {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 35px;
}


.tariff__list {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
