.tools {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 34px;
  padding-bottom: 34px;

  @media (min-width: $medium-width) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 0;
  }

  @media (min-width: $large-width) {
    justify-content: flex-start;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 119px;
    background-color: rgba($bluedark, 0.1);
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $medium-width) {
      display: none;
    }
  }
}

.tools__list {
  &--color {
    position: absolute;
    top: 0;
  }

  &--contrast {
    position: absolute;
    top: 5px;
    right: 30px;
  }

  @media (min-width: $medium-width) {
    position: static;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($bluedark, 0.1);
    padding-right: 20px;

    &--cut {
      padding-bottom: 14px;
    }

    &--color {
      padding-top: 8px;
      padding-bottom: 11px;
    }

    &--contrast {
      padding-top: 15px;
      padding-bottom: 20px;
    }
  }

  @media (min-width: $large-width) {
    &--cut {
      padding-bottom: 5px;
    }

    &--color {
      padding-top: 8px;
      padding-bottom: 6px;
    }

    &--contrast {
      padding-top: 12px;
      border-bottom: none;
    }
  }
}

.tools__item {
  &--cut {
    margin-left: 17px;
  }

  &--contrast {
    margin-right: 18px;
  }

  @media (min-width: $medium-width) {
    margin: 0;

    &--cut {
      margin-top: 3px;
    }

    &--color {
      margin-top: 13px;
    }

    &--contrast {
      margin-left: 4px;
      margin-right: 3px;
    }
  }

  @media (min-width: $large-width) {
    margin: 0;

    &--cut {
      margin-top: -3px;
    }

    &--color {
      margin-top: 4px;
      margin-right: -3px;
    }

    &--contrast {
      margin-top: 6px;
      margin-left: 5px;
      margin-right: 6px;
    }
  }
}

.tools__img {
  @media (max-width: $small-width) {
    path {
      fill: rgba($bluedark, 0.3);
    }

    &:hover {
      path {
        fill: rgba($bluedark, 0.5);
      }
    }

    &:active {
      path {
        fill: $pink;
      }
    }

    &--active {
      path {
        fill: $pink;
      }

      &:hover {
        path {
          fill: $pink;
        }
      }
    }
  }

  @media (min-width: $medium-width) {
    &--cut {
      width: 22px;
      height: 22px;
    }

    &--color {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  @media (min-width: $large-width) {
    &--cut {
      width: 44px;
      height: 44px;
    }

    &--color {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
}

.tools__range-controls {
  position: relative;
  margin-top: 29px;

  &--color,
  &--contrast {
    display: none;
  }

  @media (min-width: $medium-width) {
    display: block;
    margin-top: 0;
    margin-left: 29px;
  }

  @media (min-width: $large-width) {
    margin-bottom: 0;
    margin-left: 48px;
  }
}

.tools__scale {
  width: 240px;
  height: 2px;
  background-color: $bluedark;

  @media (min-width: $medium-width) {
    width: 202px;
  }

  @media (min-width: $large-width) {
    width: 288px;

    &--cut {
      margin-bottom: 10px;
    }
  }
}

.tools__toogle {
  position: absolute;
  top: -7px;
  right: 32px;
  width: 11px;
  height: 11px;
  border: 2px solid $pink;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $pink;
  }

  @media (min-width: $medium-width) {
    &--cut {
      right: 40px;
    }

    &--color {
      right: 163px;
    }

    &--contrast {
      right: 92px;
    }
  }

  @media (min-width: $large-width) {
    &--cut {
      right: 206px;
    }

    &--color {
      right: 25px;
    }

    &--contrast {
      right: 111px;
    }
  }
}
