/*fonts*/
$font: "Open Sans", "Arial", sans-serif;
$font-size: 14px;
$line-height: 24px;

/*colors*/
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$bluedarken: rgba(29, 38, 49, 1);
$bluedark: rgba(40, 54, 69, 1);
$gray: rgba(242, 242, 242, 1);
$graylight: rgba(229, 229, 229, 1);
$pink: rgba(210, 40, 86, 1);
$green: rgba(42, 171, 109, 1);

/*size*/
$small-width: 320px;
$medium-width: 660px;
$large-width: 960px;
